* {
  font-family: 'Montserrat', sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* TYPO SETTINGS */
a {
  text-decoration: none;
  color: black;
}

p {
  line-height: 32px;
}

* {
  font-weight: 500;
}

/* REPEATED CLASSES */
.container {
  width: 70%;
  margin: auto;
}

.clearfix::after {
  display: block;
  content: '';
  clear: both;
}

.btn {
  display: inline-block;
  font-size: 15px;
  border: 1px solid #FE765A;
  border-radius: 6px;
}

.elem-orange {
  background-color: #FE765A;
  color: white;
}
/* /REPEATED CLASSES */

/* HEADER SETTINGS */

/* TOP BAR */
header .fas.fa-angle-down {
  font-size: 22px;
  transform: translateY(3px);
}

header .top-bar {
  background-color: #F5FAFD;
  border-bottom: 2px solid black;
  padding: 22px 0;
}


header .top-bar .elem-top-bar:not(:last-child) {
  padding-right: 20px;
}

header .top-bar .language-contact {
  /* float left */
  width: 19.6%;
  display: inline-block;
}

header .top-bar .language-contact .elem-top-bar:last-of-type {
  border-left: 1px solid grey;
  padding-left: 20px;
}

header .top-bar .login-search {
  /* float: right; */
  width: 80%;
  display: inline-block;
  text-align: right;
}

header .top-bar .btn {
  padding: 10px;
}

header .top-bar .btn-inverted {
  background-color: white;
  color: #FE765A;
}

header .top-bar .fas.fa-search {
  color: #00A1BA;
}

header .top-bar .elem-top-bar {
  display: inline-block;
}

/* MAIN NAV */
header .main-nav {
  padding: 27px 0;
}

header .main-nav img {
  width: 112px;
  vertical-align: middle;
}

header .main-nav ul {
  float: right;
}

header .main-nav li {
  display: inline-block;
}

header .main-nav li:not(:last-child) {
  margin-right: 20px;
}

header .main-nav li span:not(:last-child) {
  margin-right: 15px;
}

header .main-nav li span {
  font-weight: 500;
}

/* HERO */
header .hero {
  height: 800px;
  position: relative;
  background: url(../img/jumbotron.png);
  background-size: contain;
  background-position: bottom right;
  background-repeat: no-repeat;
  background-color: #FFF5F1;
}

header .hero .hero-text {
  width: 51%;
  padding-top: 75px;
}

header .hero .hero-text > * {
  display: block;
  margin-bottom: 35px;
}

header .hero .hero-text h1 {
  font-size: 50px;
  font-weight: 700;
}

header .hero .hero-text .btn {
  display: inline-block;
  padding: 20px 40px;
}

header .hero .hero-horizontal-layer {
  height: 96px;
  width: 100%;
  position: absolute;
  bottom: 0;
  z-index: 1;
  background-color: #B2EEE7;
  border-bottom: 4px solid #283C4F;
  border-top: 4px solid #283C4F;
}
/* /HEADER SETTINGS */

/* MAIN SETTINGS */

/* PRODUCTS SECTION */
main .products-section.clearfix {
  background-color: #F5FAFD;
  padding-top: 60px;
}

main .products-section .slogan-title {
  width: 75%;
  text-align: center;
  margin: auto;
  margin-bottom: 50px;
}

main .products-section .slogan-title img {
  width: 30%;
}

main .products-section .slogan-title h2 {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 30px;
}

main .products-section .col {
  background-color: white;
  border-radius: 8px;
  box-shadow: 0px 0px 5px lightgrey;
  margin-bottom: 57px;
}

main .products-section .col img {
  height: 115px;
  margin-bottom: 25px;
}

main .products-section .col .btn {
  padding: 24px 40px;
}

main .products-section .col h3 {
  font-size: 30px;
  font-weight: 700;
  margin-bottom: 35px;
}

main .products-section .col .pop-sub-heading {
  text-transform: uppercase;
  font-size: 21px;
  font-weight: 700;
}

main .products-section .col li {
  text-align: left;
  list-style: none;
}

main .products-section .col li i {
  color: #FE765A;
  margin-right: 13px;
}

main .products-section .horizontal.col {
  padding: 80px 0;
}

main .products-section .horizontal.col .learn-more {
  float: left;
  width: 32%;
  text-align: center;
  padding: 0 20px;
}

main .products-section .horizontal.col img {
  margin-bottom: 30px;
}

main .products-section .horizontal.col .col-text {
  float: left;
  width: 68%;
  padding-right: 110px;
}

main .products-section .horizontal.col li {
  display: inline-block;
  margin-right: 20px;
}

main .products-section .horizontal.col .pop-sub-heading  {
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 30px;
}

main .products-section .horizontal.col hr {
  display: inline-block;
  vertical-align: super;
  width: 60%;
  margin-left: 8%;
}

main .products-section .col:not(.horizontal) {
  float: left;
  width: 30%;
  text-align: center;
  padding: 22px 40px;
  margin-right: 5%;
}

main .products-section .col:last-child {
  margin-right: 0;
}

main .products-section .col:not(.horizontal) hr {
  margin-top: 75px;
  margin-bottom: 40px;
}

main .products-section .col:not(.horizontal) .pop-sub-heading {
  margin-bottom: 40px;
}

main .products-section .col:not(.horizontal) .btn {
  margin-top: 50px;
}

/* TABLE SECTION */
main .table-section {
  text-align: center;
  background-image: linear-gradient(45deg,#00a4bd,#00bda5);
  color: white;
  padding: 60px 0 120px 0;
}

main .table-section h4 {
  font-size: 33px;
  font-weight: 700;
  margin-bottom: 40px;
}

main .table-section p {
  margin-bottom: 60px
}
main .table-section .row:nth-child(2){
  border-bottom: 1px solid white;
}

main .table-section .row .box {
  float: left;
  width: 25%;
  padding: 22px 0;
}

main .table-section .row .box:not(:last-child) {
  border-right: 1px solid white;
}

main .table-section .row .box img {
  margin-bottom: 20px;
}

main .table-section .row .box .table-counter {
  font-size: 45px;
  font-weight: 700;
  margin-bottom: 15px;
}

main .table-section .row .box .table-counter span {
  margin-left: 4px;
}

main .table-section .row .box div:not(.table-counter) {
  font-size: 14px;
}

/* BOTTOM SECTION */
main .bottom-section {
  padding: 60px 0;
}

main .bottom-section .customer-counter {
  float: left;
  width: 35%;
  padding: 0 120px 0 80px;
}

main .bottom-section .customer-counter h4 {
  font-size: 53px;
  font-weight: 700;
  margin-bottom: 40px;
}

main .bottom-section .customer-counter strong {
  font-weight: 700;
}

main .bottom-section .sponsors-logos {
  float: left;
  width: 65%;
  padding: 0 80px;
}

main .bottom-section .sponsors-logos .row:nth-child(1) {
  margin-top: 20px;
  margin-bottom: 25px;
}

main .bottom-section .sponsors-logos img {
  width: 22%;
  vertical-align: middle;
}

main .bottom-section .sponsors-logos .row:nth-child(2) img:nth-child(3) {
  padding-right: 23px;
}

main .bottom-section .sponsors-logos img:not(:last-child) {
  margin-right: 3%;
}

main .bottom-section .grow-with-hubspot {
  margin-top: 40px;
}

main .bottom-section .grow-with-hubspot .grow-text {
  display: inline-block;
  width: 46%;
  padding-top: 60px;
}

main .bottom-section .grow-with-hubspot .grow-text h4 {
  font-size: 38px;
  font-weight: 700;
  margin-bottom: 40px;
}

main .bottom-section .grow-with-hubspot .grow-text .btn {
  padding: 23px 30px;
  margin-bottom: 50px;
  margin-top: 50px;
}

main .bottom-section .grow-with-hubspot .grow-text small {
  display: block;
}

main .bottom-section .grow-with-hubspot img {
  float: right;
  width: 350px;
}
/* /MAIN */

/* FOOTER */
footer {
  background-color: #273E4F;
  color: white;
  padding: 43px 0px 60px;
}

footer a:not(.btn), footer .fab {
  color: #CCD7E3;
}

/* LINKS SECTION */
footer .links-to-languages-services {
  border-bottom: 1px solid #CCD7E3;
  margin-bottom: 50px;
}

footer .links-to-languages-services .links-col {
  float: left;
  width:22%;
}

footer .links-to-languages-services .links-col:not(:last-child) {
  margin-right: 3%;
}

footer .links-to-languages-services .links-col h5 {
  font-size: 16px;
  font-weight: 700;
  margin-bottom: 35px;
}

footer .links-to-languages-services .links-col li {
  list-style: none;
}

footer .links-to-languages-services .links-col li:not(:last-child) {
  padding-bottom: 21px;
}

footer .links-to-languages-services .links-col .contact-support.btn {
  background-color: white;
  color: #273E4F;
  border: none;
  white-space: nowrap;
  padding: 16px 12px;
  margin: 21px 0;
}

footer .links-to-languages-services .links-col .social-links li {
  display: inline-block;
}

footer .links-to-languages-services .links-col .social-links li:not(:last-child) {
  margin-right: 25px;
}

footer .links-to-languages-services .links-to-languages {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 25px;
}

footer .links-to-languages-services .links-to-languages li {
  display: inline-block;
}

footer .links-to-languages-services .links-to-languages li:not(:last-child) {
  margin-right: 25px;
}

/* BOTTOM COPYRIGHT-LEGAL */
footer .copyright-bottom {
  float: left;
}

footer .copyright-bottom img {
  width: 110px;
  margin-bottom: 5px;
}

footer .legal-bottom {
  float: right;
}

footer .legal-bottom a:not(:last-child) {
  margin-right: 20px;
}
